:root {
  --button-border-color: #229111;
  --button-shadow-color: #798;
}

.control-bar {
  display:flex;
  flex:1 1 auto;
}
.controls-top {
	min-height:50px;
	margin-bottom:3px;
	background-color: #fff;
	background:transparent;
	display:flex;
  flex: 1 1 auto;
	flex-flow:row wrap;
  justify-content:left;
  align-content:center;
}

.control-bar .titleText {
  display:flex;
  flex:60px;
  justify-content:center;
  align-self:center;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

body.refresh-1 .refresh-button span.icon-refresh {
  animation: spin 4s linear infinite;
}

body.refresh-1 .refresh-button  {
  background: #deeedd;
}
.refresh-button span.icon-refresh{
  position:absolute;
  top:0.5rem;
  left:1.5rem;
}

.ribbonButtonContainer[data-group="debug"] {
    display:none;
}

.ribbonButtonContainer button.expander span.left-text .text-span {
    font-size:1.6em;
    left:18%;
}



.ribbonButtonContainer.expanded-more button.expander span.left-text .text-span {
    display:none;
}
.ribbonButtonContainer button.expander span.icon-circle-left {
    display:none;
}
.collapseContainer.expanded-more button.expander span.icon-circle-left {
    display:block;
}

.collapseContainer button.collapseParent {
  border: 3px inset blue;
}

div.ribbonButtonContainer.expanded {
	margin-right:5px;
}

.controls-left {
	background-color: #fff;
	background:transparent;
	display:flex;
  flex: 1 1 auto;
	flex-direction:column;
  padding:10px;
  justify-content:flex-start;
}

.controls-left .ribbonButtonContainer {
  display:flex;
}
button.menu-button,  
button.menu-button .left-text,
button.menu-button .text-span {
  display: inline-block;
}
button.menu-button .text-span  {
  text-align: left;
  min-width: 70px;
}
button.menu-button .right-text{
  display: none;
}
body.alt-key button.menu-button .right-text{
  display: inline-block;
  min-width: 50px;
}
.controls-left div.ribbonButtonContainer button {
  display:flex;
  flex: 1 1 0;
  max-width: 160px;
  height: 25px;
	padding-left: 3px;
	font-family:serif;
	font-size:1em;
  border-radius: 5px;
  border:1px solid #33f;
  padding-top:2px;
}

#noteMenu span.icon {
  font-size: 0.75em;
  float: right;
}

.controls-left .ribbonButtonContainer button span.ribbon-button-hotkey {
  flex: 0 1 auto;
  padding: 0 10px;
}
.controls-left .menu-icon {
  min-width: 100px;
  display: inline-block;
}
.controls-top button.button-wide {
  font-size: 1em;
}

#controls-left .nav-item {
  min-width: 150px;
}
button.hover-text:hover .ribbon-button-text.icon, 
body.alt-key button.hover-text .ribbon-button-text.icon {
  display: none;
}
button.hover-text:hover .ribbon-button-hotkey,
body.alt-key button.hover-text .ribbon-button-hotkey {
  display: inline-block;
}

.controls-top .ribbonButtonContainer .text-span .icon-bravura {
  display: block;
  left: 12px;
}
.controls-top button span.right-text {
  font-family: sans-serif;
  padding-left:0.2rem;
}
.controls-top button.textButton {
    font-size:1.2em;
}

.hide {
  display: none !important;
}
.controls-top button.duration.expanded.tuplet span.ribbon-button-hotkey  {
	font-size:1em;
  padding-left: 7px;
}
.controls-top button.duration.expanded span.ribbon-button-text.icon {
	font-size:2.2em;
	top:25%;
}

.controls-top button.duration span.ribbon-button-text,
.controls-top button.repetext span.ribbon-button-text {
	font-size:1.6em;
}

.controls-top button.repetext {
	font-style:italic;
}
.controls-top button.duration span.ribbon-button-hotkey {
	font-size:1.6em;
}

button.addChord .left-text .icon {
	left:2em;
}

.ribbonButtonContainer button.player{
    width:55px;
}

.controls-top .ribbonButtonContainer button.player span.ribbon-button-text {
    top:25%;
}
#controls-left .text-span {
  margin-right: 10px;
}
button#MicrotoneButtons  {
    width:35px;
}
.ribbonButtonContainer[data-group="quickButtons"] {
    margin-left:10px;
    display: flex;
    flex-flow: row wrap;
    background-color: var(--bs-body-bg);
}
.controls-top .titleText {
  padding-top:0.3rem;
  font-style: italic;
}
.smo-text-bg-light {
    color: #000;
    background-color: RGBA(var(--bs-light-rgb), var(--bs-bg-opacity, 1))
}
.btn:hover,
.btn-group-vertical.controls-left .btn:hover {
    color: #fff;
    background-color: #213529;
    border-color: #213529;
}
.btn-group-vertical.controls-left .btn,
.ribbonButtonContainer .btn {
  border-color: var(--button-border-color);
  border-width: 2px 2px 2px 1px;
  transition: background-color 0.5s 
    ease-in-out, transform 0.5s 
    ease-in-out;  
}
.ribbonButtonContainer .btn {
  box-shadow: 0 0.25rem var(--button-shadow-color);
}
.ribbonButtonContainer .btn:last-of-type {
    box-shadow: 0.25rem 0.25rem 0.3rem var(--button-shadow-color);
}
.btn-group-vertical.controls-left .btn  {
  box-shadow:0.25rem 0 var(--button-shadow-color);
}
.btn-group-vertical.controls-left .btn:last-of-type {
    box-shadow: 0.25rem 0.25rem 0.1rem var(--button-shadow-color);
}
button.icon {
  height: 40px;
  padding: 0;
}
button.drop-down, button.text-icon {
  height: 40px;
  padding: 0;
  background-color: var(--bg-btn-bg);
}
button.text-icon {
  display:flex;
  justify-content: space-around;
  background-color: var(--bg-btn-bg);
}
button.text-icon .icon-bravura {
  font-size: 2.3rem;
  padding-left: 0.2rem;
}
button.text-icon .left-text {
  position:relative;
}
button.text-icon .left-text .text-span{
  padding-right: 0.3rem;
  font-size: 1.3rem;
}
button.text-icon .left-text .icon-smo {
  padding-left: 0.3rem;
  font-size:1.3rem;
}
.ribbonButtonContainer[data-group="quickButtons"] .button-wide button {
  font-size: 1.2em;
}
.ribbonButtonContainer[data-group="quickButtons"] .button-wide button .icon {
  font-size: 2em;
}

.controls-top .ribbonButtonContainer .button-wide .ribbon-button-text.icon-smo.icon, 
.controls-top .ribbonButtonContainer .button-wide .ribbon-button-text.icon-bravura.icon {
  right: 5px;
  left:inherit;
  bottom:inherit;
}
.ribbonButtonContainer .button-wide .ribbon-button-text.icon-bravura.icon {
  top: 0;
}
.ribbonButtonContainer .button-wide .ribbon-button-text.icon-smo.icon {
  top: 5px;
}
.ribbonButtonContainer button.drop-down .left-text {
  padding-right: 0.2rem;
}
.ribbonButtonContainer button.drop-down .icon-smo::before {
    background-image: var(--bs-accordion-btn-active-icon);
    transform: var(--bs-accordion-btn-icon-transform);
}
.ribbonButtonContainer button.icon .left-text {
  font-size: 1.2rem;
  display: inline-block;
  padding-top:0.2rem;
  min-width:20px;
}
.ribbonButtonContainer button.icon .left-text .text-span {
  display: none;
}
.ribbonButtonContainer button.button-wide {
  width:120px;
}
.ribbonButtonContainer .select-part-button {
  width: 120px;
}

#addDynamicsMenu {
	font-size:.9em;
}
#addDynamicsMenu .left-text {
	left:0;
	top:20%;
}
#TextButtons {
    font-size:1.2em;
}

#TextButtons .ribbon-button-text{
    top:15%;
    left:18%;
}

#lyrics {
    width:65px;
}

#fermataButton .icon {
    left:20%;
    font-size:1.4em;
}

#clefAddRemove .icon {
    font-size:0.7em;
    top:18%;
}

.controls-top .collapseContainer .ribbonButtonContainerMore {
    display:none;
}

.controls-top div.collapseContainer.expanded-more .ribbonButtonContainerMore {
    display:inline-block;
}

.ribbonButtonContainer .icon.staves.expanded {
    width:55px;
    font-size:1.6em;
}

.ribbonButtonContainer .icon.staves.expanded .left-text span.icon {
    left:20%;
}

.ribbonButtonContainer .icon.staves.expanded .left-text span.icon.icon-treble  {
    left:25%;
}

#clefMoveUp .icon,#clefMoveDown .icon{
    font-size:0.7em;
    top:18%;
}

#StaveButtons span.icon {
    font-size:1.6em;
    top:0;
    left:20%;
}

#articulationButtons  .icon-articulation{
	left:30%;
}
#ArticulationButtons .icon-articulation:before {
	font-size:2.4em;
}

.controls-top button.duration,.controls-top button.measure,
.controls-top button.repetext,.controls-top button.textButton,
.controls-top button.beams
 {
	width:55px;
}

.controls-top button.beams {
    font-size:1.2em;
}

#toggleBeamDirection {
    width:75px;
}

#beamSelections {
    width:115px;
}

#toggleBeamDirection .left-text,
#beamSelections .left-text,
#breakBeam .left-text {
    font-size: 1.6em;
    position: absolute;
    top: 20%;
    left: 0;
}

[data-group="voices"] .expanded .icon {
    font-size:1.7em;
}

.v1-active #V1Button {
    background-color:green;
}
.v2-active #V2Button {
    background-color:green;
}
.v3-active #V3Button {
    background-color:green;
}
.v4-active #V4Button {
    background-color:green;
}



.controls-top button.addChord {
	width:55px;
}

.controls-top button.addChord.dirdown {
	width:70px;
}

#CreateChordButtons {
    width:45px;
}
#CreateChordButtons .left-text {
	font-size:1.6em;
    position:absolute;
    top:20%;
    left:25%;
}
#CreateChordButtons span.ribbon-button-text {
	position:absolute;
	left:30%;
	top:30%;
}

#NavigationButtons.expandedChildren {
	font-size: 1.4em;
	width: 50px;
	left: 0;
}
li.nav-item:hover {
  background: var(--bs-gray-200);
}
.expanded .ribbonButtonContainer button.graceIcon   {
    width:60px;
	font-size:1.6em;
}
button.hover-text .ribbon-button-hotkey {
  display: none;
}

#AddGraceNote .ribbon-button-hotkey,#RemoveGraceNote .ribbon-button-hotkey {
    font-size:0.5em;
}


#ToggleAccidental .ribbon-button-hotkey,#ToggleCourtesy .ribbon-button-hotkey  {
	font-size:0.7em;
}
#controls-left .btn-group-vertical button.btn.menu-button {
    width: auto;
    max-height: 40px;
}
.controls-left button.icon span.icon:before,
.controls-top button.icon span.icon:before{
	font-size:1.6em;
}
.controls-left .articulations button span.ribbon-button-text {
	font-size:2em;
}
.controls-top .collapseContainer .expandedChildren {
	font-size: 1.2em;
	height: 55px;
	top: -15px;
}

.controls-left .collapseContainer .expandedChildren {
	font-size: 1.2em;
	text-align:left;
	padding: 0;
	width: 80px;
	left: -5px;
}

.control-bar .collapsed {
	display:none;
}
